
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/poppins-v20-latin-100.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/poppins-v20-latin-200.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}

:root {
  --color-brand: chocolate;
  --color-primary-light: ghostwhite;
  --color-primary-dark: #31261a;
}
/*Needs to follow a particular order*/
/* Base */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var(--color-primary-dark);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5; /* Number of pixels of line 
  hight devided by number of pixels of font size*/
}

h1, h2, h3, h4, h5, h6, p {margin-top: 0;}

address {font-style: normal;}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  left: 10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.section {
  padding: 48px 0;
}
.container { /* To prevent page from adjusting to the screen size, to adapt to smaller screen sizes but not to stretch to bigger ones*/
  width: 100%;
  max-width: 1240px; /* (Did not work, had to use padding) was 1240 but made 1288 to add 24px to each side as padding*/
  margin: 0 auto;
  padding: 0 24px;
}

/* Button */
.button {
  padding: 16px 32px;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
}
.button:hover {
  color: var(--color-brand);
  background-color: transparent;
}
/* Link */
.link {
  color: var(--color-primary-light);
  font-weight: 400;
  text-decoration: none;
}
.link:hover {
  color: var(--color-brand);
}
/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.header-manu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}
/* Hero-section */
.hero-section {
  padding: 272px 0;
  background-image: url(../skydive_nomad.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.hero-title {
  margin-bottom: 0;
  color: var(--color-primary-light);
  text-align: center;
  font-size: 115px;
  font-weight: 600;
}
.hero-title .accent {
  color: var(--color-brand);
}
/* Advanatages*/
.description-section {
  padding-top: 96px;
}
.description-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.description-content {
  max-width: 710px;
}
.description-title {
  margin-bottom: 42px;
}
.description.limited {
max-width: 360px;
}
.advantages-section {
  padding: 16px 0;
  background-color: var(--color-brand);
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.advantages-item {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primary-light);
}
.section-title {
  font-size: 54px;
  font-weight: 600;
  line-height: 1.3;
}
.section-title .accent {
  color: var(--color-brand);
}
.description span {
  color: var(--color-brand);
  text-transform: uppercase;
  font-weight: 600;
}
/* Coaches */
.coaches-title {
  margin-bottom: 80px;
}
.coaches {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}
/* Disciplines */
.disciplines-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* needed when creating a scroll with more items*/
}
.disciplines-item {
  flex-basis: calc((100% - 40px) / 3);
  /* when assigning class in html, can only be used for <li>*/
  /* 40px gaps between the items*/
}
.disciplines {
  border-radius: 16px;
  padding: 24px;

}
.disciplines-title {
  margin-bottom: 80px;
}
.disciplines-descrition{
  font-size: 14px;
  font-weight: 300;
}
.disciplines-descrition .accent{
color: var(--color-brand);
font-weight: 600;
}
/*Formats*/
.format-title {
  font-size: 24px;
  font-weight: 600;
}
/* Contacts section */
.contact-title {
  margin-bottom: 16px;
}
/* Footer */
.footer {
  background-image: url(../clouds.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
.address-link:hover {
  color: var(--color-brand);
}
.address-copyright {
  font-size: 14px;
}
