@import "./utils/fonts";

@import "./utils/texts";

@import "./utils/variables";

@import "./base";

@import "./utils/utils";

@import "./components/animation-spin";

@import "./components/buttons";

@import "./components/links";

@import "./components/header";

@import "./components/sections";

@import "./components/hero-section";

@import "./components/advantages";

@import "./components/description";

@import "./components/coaches";

@import "./components/_coaches-card";

@import "./components/disciplines";

@import "./components/_disciplines-card";

@import "./components/pagination";

@import "./components/contact";

@import "./components/input";

@import "./components/policy";

@import "./components/footer";

@import "./components/address";

@import "./components/modal-window";

@import "./components/mobile-menu";
