:root {
  --color-brand: chocolate;
  --color-primary-light: ghostwhite;
  --color-primary-dark: #31261a;
  --color-secondary-orange: #eeb577;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
