.description span {
  color: var(--color-brand);
  text-transform: uppercase;
  font-weight: 600;
}
.description-section {
  padding-top: 96px;
}
.description-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.description-content {
  max-width: 710px;
}
.description-title {
  margin-bottom: 42px;
}
.description.limited {
  max-width: 360px;
}
