.description-section {
  padding-top: 40px;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 96px;
  }

  &__container {
    display: block;
    gap: 40px;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__content {
    max-width: 710px;
  }
  &__title {
    margin-bottom: 42px;
  }
  &__text span {
    color: var(--color-brand);
    text-transform: uppercase;
    font-weight: 600;
  }
  &__text {
    &--limited {
      max-width: none;
      @media screen and (min-width: $bp-desktop) {
        max-width: 360px;
      }
    }
  }
}
