.disciplines-card {
  background-image: linear-gradient(
    rgb(106 123 148 / 50%) 48.529%,
    rgb(95, 99, 104) 84.641%,
    rgb(60, 64, 67) 101.43%
  );
  position: relative;
  border-radius: 16px;
  padding: 24px;
  border: 1px solid var(--color-brand);
  height: 600px;
  width: 100%;
  max-width: 500px;
  box-shadow: 2px 2px 3px 4px var(--color-brand);
  transition: transform 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &__title {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary-light);
    text-align: center;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    border-radius: 16px;
    padding: 24px;
  }
  &__text {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-primary-light);
    text-align: center;
  }
}
// Make the text pop out on white background, when clicking on the images
