/* Footer */
.footer {
  background-color: #31261a;
  background-image: url(../clouds.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 32px 0;
  position: relative;

  &__container {
    display: flex;
    gap: 20px;
  }
  &::after {
    position: absolute;
    width: 350px;
    height: 350px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../skydive_nomad\ Background\ Removed.png);
    content: "";
    right: 0%;
    bottom: -180px;
    transform: rotate(4deg);
  }
  &__nav,
  &__address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
  }
  &__logo,
  &__menu {
    flex-grow: 1;
  }
}
