/*Modal window*/
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  transition: opacity 0.3s, visibility 0.3s; /*opacity corresponds to 
  opening of the window, and visibility to closing*/
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.modal {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 800px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  padding: 128px;
  overflow-y: auto;

  &__title {
    margin: 0 auto 20px;
    text-align: center;
  }
  &__text {
    margin: 0 auto 40px;
    text-align: center;
  }

  &__button-close {
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: transparent;
    border: none;
    color: var(--color-primary-dark);
    font-size: 32px;
    transition: transform 0.5s;
  }
  &__button-close:hover {
    color: var(--color-brand);
  }
  &__form-field {
    margin-bottom: 32px;
  }
  &__button {
    display: block;
    margin: 0 auto 24px;
  }
}